@font-face {
    font-family: 'The Bjorke';
    src: url('TheBjorkeRegular.woff2') format('woff2'),
        url('TheBjorkeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Bjorke';
    src: url('TheBjorkeAlter.woff2') format('woff2'),
        url('TheBjorkeAlter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

