.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    cursor: pointer;
    z-index: 999;
  }
  
  .back-button .inner {
    width: inherit;
    text-align: center;
    position: relative;
  }
  
  .back-button label {
    font-size: 0.8em;
    line-height: 4em;
    text-transform: uppercase;
    color: black;
    transition: all 0.3s ease-in;
    opacity: 0;
    cursor: pointer;
  }
  
  .back-button .inner::before,
  .back-button .inner::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #FFC107;
    left: 0;
    transition: all 0.3s ease-in;
  }
  
  .back-button .inner::before {
    top: 50%;
    transform: rotate(45deg);
  }
  
  .back-button .inner::after {
    bottom: 50%;
    transform: rotate(-45deg);
  }
  
  .back-button:hover label {
    opacity: 1;
  }
  
  .back-button:hover .inner::before,
  .back-button:hover .inner::after {
    transform: rotate(0);
  }
  
  .back-button:hover .inner::before {
    top: 0;
  }
  
  .back-button:hover .inner::after {
    bottom: 0;
  }
  .skills-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 40px;
    margin-top: 50px;
    justify-items: center;
    align-items: center;
  }
  
  
  .skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
  .skill-icon img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
  }
  
  .skill-icon span {
    font-size: 16px;
    font-weight: 500;
    color: #333;
  }
  
  .skill-icon:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 480px) {
    .skills-icons {
      gap: 24px;
    }
  
    .skill-icon img {
      width: 40px;
      height: 40px;
    }
  
    .skill-icon span {
      font-size: 14px;
    }
  }
    